body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #444242;
    color: #f6efefe8;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background-image: image-set("./img/img1.jpg");
    color: #f7f7f7;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 36px;
}

header p {
    text-align: center;
    font-size: 18px;
}

section {
    padding: 20px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #77aaff;
    color: #2f1f1f;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background: #333;
    color: #d3c9c9;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}